<%= form_for @product do |f| %>
   <p>
    <%= f.label :shopname %><br />
    <%= f.text_field :shopname %>
  </p>
   <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>